

<div class="border backgroundWhite container">
    <div class="row">
        <div class="col-6">
            <br />
            <h2 class="text-primary">Directions List</h2>
            <hr />
        </div>
        <div class="col-6 text-right">
            <br />
            <a class="btn btn-primary text-white" asp-action="Upsert" asp-controller="Directions"><i class="fas fa-plus"></i>&nbsp;Create New Directions</a>
        </div>
    </div>
    <table id="tblData" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>CosmicSpot</th>
                <th>Name</th>
                <th>Distance</th>
                <th>Elevation</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    <script src="~/js/Directions.js"></script>">
}
